<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Table</title>
</head>
<body>
<table border="1px" id="myTable">
    <tr>
        <th>id</th>
        <th>L-1</th>
    </tr>
    {{#each users}}
        <tr>
            <td width="200">{{this.id}}</td>
            <td width="200" onclick="openLevel( {{this.id}}, {{this.isLeaf}}, 'l2')">{{this.l1}}</td>
        </tr>
    {{/each}}
</table>
<script>
    function openLevel(id, isLeaf, level) {
        if (isLeaf) {
            const data = {
                id: id,
                level: level
            };
            fetch('/open', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                    .then(response => response.json())
                    .then(data => {
                        // Обработка полученного объекта
                        console.log(data);
                    })
                    .catch(error => {
                        // Обработка ошибок
                    });
        }
    }
</script>
</body>
</html>
